.wrapper {
  padding-top: 56px;
}

a.navbar-brand, a.navbar-brand:hover, a.navbar-brand:active {
  font-weight: bold;
  color: #000;
}

.bg-hero {
  background: #de2b2b;
  background: linear-gradient(-45deg,#EE7752,#E73C7E,#23A6D5,#23D5AB);
  background-size: cover;
  background-position: center center;
}